* {
  box-sizing: border-box;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
.h3{  content: "";
  display: table;
  clear: both;}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

[class*="col-"] {
  float: left;
  padding: 15px;

}

.profile_image{
  width:50%;
  margin-inside:100%;

}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.box {
  display: flex;
  color:black;
  margin-left: 20%;
}

.box div {
  width: 100px;
  height: 100px;
}
.fa {
  padding: 0.5rem;
  font-size: 2rem;
  width: 0.2rem;
  text-align: center;
  text-decoration: none;
  margin: 0.5rem 0.2rem;
  border-radius: 50%;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: mediumblue;
  color: white;
}

.fa-twitter {
  background: mediumblue;
  color: white;
}

.fa-google {
  background: mediumblue;
  color: white;
}

.fa-linkedin {
  background: mediumblue;
  color: white;
}

.fa-youtube {
  background: mediumblue;
  color: white;
}

.fa-instagram {
  background: mediumblue;
  color: white;
}

.fa-pinterest {
  background: mediumblue;
  color: white;
}

.fa-snapchat-ghost {
  background: mediumblue;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: mediumblue;
  color: white;
}

.fa-android {
  background: mediumblue;
  color: white;
}

.fa-dribbble {
  background: mediumblue;
  color: white;
}

.fa-vimeo {
  background: mediumblue;
  color: white;
}

.fa-tumblr {
  background: mediumblue;
  color: white;
}

.fa-vine {
  background: mediumblue;
  color: white;
}

.fa-foursquare {
  background: mediumblue;
  color: white;
}

.fa-stumbleupon {
  background: mediumblue;
  color: white;
}

.fa-flickr {
  background:mediumblue;
  color: white;
}

.fa-yahoo {
  background: mediumblue;
  color: white;
}

.fa-soundcloud {
  background: mediumblue;
  color: white;
}

.fa-reddit {
  background: mediumblue;
  color: white;
}

.fa-rss {
  background: mediumblue;
  color: white;
}